body{
    margin: 0;
}
.clearfix{
    clear: both;
}
.register_div{
    width: 100vw;
    height: 100vh;
    background-color: #0e0b09;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-align: center;
}
.register_form{
    width: 300px;
    height: 360px;
    background: rgba(246, 246, 255, 0.9);
    border-radius: 20px;
    position: relative;
    box-shadow:0 0 15px 15px rgba(94, 75, 70, 0.5);
}
.register_form h1{
    float:left;
    margin: 20px 0 0 58px;
    font-size: 28px;
    color: rgb(43, 46, 40,0.9);
}
#light{
    color: rgb(43, 46, 40,0.3);
}
#light:hover{
    color: rgba(97, 70, 63, 0.9);
}
.register_form input{
    width: 66%;
    height: 24px;
    font-size: 14px;
    margin-top: 22px;
    border: none;
}
.register_form input:{
    border: none;
}
.register_form button{
    float: right;
    width: 24%;
    height: 28.8px;
    margin-top: 18px; 
    margin-right: 50px;
    background-color: rgb(155, 144, 139,0.9);
    border-style: none;
    border-radius: 14.4px ;
    font-weight: bold;
    font-size: 15px;
    color: rgb(43, 46, 40,0.7);
}
.register_form button:hover{
    background-color: rgb(206, 199, 199);
    color: rgb(155,144,139);
}
.register_form button:active{
    border-style: none;
}

#nmError{
	position: fixed;
	padding-left: 50px;
}

#nameError{
	position: fixed;
	padding-left: 50px;
}

#upwdError{
	position:fixed;
	padding-left: 50px;
}
#pwdError{
	position:fixed;
	padding-left: 50px;
}

#emlError{
	position:fixed;
	padding-left: 50px;
}
